*{
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fa4f24ab;
}

.tabs-container{
    background: #ffffff;
    width: 450px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

.tabs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab{
    flex: 1;
    padding: 10px;
    border: none;
    background: #e5e7eb;
    cursor: pointer;
    font-weight: 600;
    border-radius: 6px;
    margin-right: 5px;
}

.tab:last-child{
    margin-right: 0;
}

.tab.active{
    background: #4f46e5;
    color: white;
}

.tab-content{
    display: none;
    font-size: 14px;
    color: #333;
}

.tab-content.active{
    display: block;
}